src/DungeonSlime.Content/data/tilemap-definition.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Tilemap">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Tileset">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="region" use="required" />
                <xs:attribute name="tileWidth" type="xs:integer" use="required" />
                <xs:attribute name="tileHeight" type="xs:integer" use="required" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="Tiles" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
